#python=3.9.7
absl-py==0.15.0
albumentations==1.1.0
astunparse==1.6.3
certifi==2021.10.8
charset-normalizer==2.0.12
clang==5.0
click==8.0.4
colorama==0.4.4
docker-pycreds==0.4.0
easydict==1.9
flatbuffers==1.12
gast==0.4.0
gitdb==4.0.9
GitPython==3.1.27
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
grpcio==1.41.0
h5py==3.1.0
idna==3.3
imageio==2.16.1
joblib==1.1.0
keras==2.6.0
Keras-Preprocessing==1.1.2
loguru==0.6.0 # python easy logger
Markdown==3.3.4
networkx==2.7
numpy==1.22.2
opencv-python==4.5.5.62
opencv-python-headless==4.5.5.62
opt-einsum==3.3.0
packaging==21.3
pandas==1.4.1
pathtools==0.1.2
Pillow==9.0.1
promise==2.3
protobuf==3.19.4
psutil==5.9.0
pyDeprecate==0.3.2
pyparsing==3.0.7
python-dateutil==2.8.2
pytz==2021.3
PyWavelets==1.2.0
PyYAML==6.0
qudida==0.0.4
requests==2.27.1
scikit-image==0.19.2
scikit-learn==1.0.2
scipy==1.8.0
sentry-sdk==1.5.6
shortuuid==1.0.8
six==1.16.0
smmap==5.0.0
tensorboard==2.7.0
tensorflow==2.6.0
tensorflow-estimator==2.6.0
tensorflow-io==0.21.0
tensorflow-io-gcs-filesystem==0.21.0
termcolor==1.1.0
thop==0.0.31.post2005241907 # pytorch-Opcounter
threadpoolctl==3.1.0
tifffile==2022.2.9
torch==1.10.2
torchmetrics==0.7.2
torchvision==0.11.3
tqdm==4.62.3
typing_extensions==4.1.1
urllib3==1.26.8
wandb==0.12.10
win32-setctime==1.1.0
wincertstore==0.2
wrapt==1.12.1
yaspin==2.1.0
